.InputContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 50px;
  margin-left: 4px;
  margin-right: 4px;
}

.Input {
  border: none;
  font-size: 10px;
}

.Input:focus {
  outline: none;
}

.Tag {
  font-size: 10px;
  border: none;
  color: #584ed0;
}
