.resize-handle {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
}

.resize-handle.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resize-handle.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.Container {
  border: 1px solid gray;
}
.ContainerMain:hover {
  border: 1px solid gray;
}
